@charset "UTF-8";
:root {
  --white: #fff;
  --light: #cacaca;
  --primary-dark: #757575;
  --dark: #08020d;
  --grey: #3c3b3d;
  --green: #34c176;
  --dark-green: #0c976e;
  --orange: #f89202;
}

@font-face {
  font-weight: 400; /* Соответствует значению normal */
  font-family: Roboto;
  src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
  font-weight: 500;
  font-family: Roboto;
  src: url("../fonts/Roboto-Medium.ttf");
}
@font-face {
  font-weight: 700; /* Соответствует значению bold */
  font-family: Roboto;
  src: url("../fonts/Roboto-Bold.ttf");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--light);
  background-color: var(--dark);
}

body {
  width: 100%;
}

a,
.btn {
  color: var(--white);
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}

h1,
h2 {
  font-weight: bold;
  text-transform: uppercase;
}

h1 {
  font-size: 60px;
  line-height: 90px;
}

h2 {
  font-size: 38px;
  line-height: 57px;
}

h3 {
  font-size: 24px;
  line-height: 36px;
  text-transform: uppercase;
}

.container {
  width: 1200px;
  text-align: center;
}

.bg-image {
  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover;
}

.bg-free {
  background-image: url("../images/subscribe_1.png");
  background-position: center;
  background-size: cover;
}

.bg-standart {
  background-image: url("../images/subscribe_2.png");
  background-position: center;
  background-size: cover;
}

.bg-premium {
  background-image: url("../images/subscribe_3.png");
  background-position: center;
  background-size: cover;
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, max-content);
  column-gap: 24px;
}

.grid-6 {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 47px;
  row-gap: 47px;
}

.col-2 {
  grid-column: span 2;
}

.col-6 {
  grid-column: span 6;
}

.head {
  position: absolute;
  width: 1200px;
  top: 25px;
  font-size: 11px;
}
.head .logo {
  margin-right: 60px;
}
.head .logo .logo-img {
  width: 24px;
  height: 24px;
  margin-right: 16px;
}
.head .menu {
  margin-left: 90px;
}
.head .form-search {
  margin-left: auto;
}
.head .form-search .search {
  font-family: Arial;
  color: var(--primary-dark);
  width: 248px;
  height: 25px;
  border: 0;
  padding: 5px 10px;
  text-transform: uppercase;
  font-size: 13.3px;
  background: var(--grey);
  border-radius: 50px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.flex-row-center.reverse {
  flex-direction: row-reverse;
}

.mtb-200 {
  margin: 200px 0;
}

.pt-100 {
  padding-top: 100px;
}

.pt-50 {
  padding-top: 50px;
}

.mt-30 {
  margin-top: 30px;
}

.gap-24 {
  column-gap: 1.5rem;
}

.form {
  max-width: 570px;
  margin-top: 17px;
}
.form .banner-form {
  border: 2px solid var(--light);
  min-height: 50px;
  min-width: 273px;
  padding-left: 20px;
  margin-bottom: 1.5rem;
  border-radius: 3px;
  font-weight: bold;
  font-size: 14px;
  background: transparent;
  color: var(--white);
}
.form .btn {
  padding: 20px 30px;
  border-radius: 5px;
  width: 100%;
  height: 57px;
  background: var(--green);
  border: 0;
  font-family: Arial;
  color: var(--white);
}
.form .btn:hover {
  background: var(--dark-green);
}

.label {
  display: none;
}

.pricing-item {
  padding: 1.5rem 1.5rem 0 1.5rem;
  border-radius: 1rem;
  height: 615px;
  color: var(--white);
  transition: 0.5s;
}
.pricing-item h3 {
  margin-bottom: 200px;
}
.pricing-item .pricing-value {
  display: inline-block;
  margin-bottom: 40px;
  font-size: 64px;
  line-height: 1;
  text-transform: uppercase;
}
.pricing-item .pricing-value .currency {
  font-size: 32px;
  line-height: 1.5;
  vertical-align: top;
}
.pricing-item .btn {
  width: 100%;
  height: 66px;
  border: 1px solid var(--white);
  border-radius: 5px;
}
.pricing-item .btn.btn:hover {
  background: rgba(136, 116, 116, 0.5);
}
.pricing-item .pricing-footer {
  font-size: 12.8px;
  line-height: 1.5;
  margin: 64px 0;
}
.pricing-item:hover {
  transform: scale(1.1);
}

.news {
  column-gap: 50px;
  align-items: flex-start;
  text-align: start;
}
.news .news-body h3 {
  text-transform: capitalize;
  font-size: 30px;
  line-height: 1.5;
  font-weight: normal;
  margin-bottom: 30px;
}
.news .news-body p {
  margin-bottom: 25px;
}
.news .news-body .news-author {
  font-size: 12px;
  line-height: 1.6;
  justify-content: start;
  column-gap: 16px;
}
.news .news-body .news-author .font-orange-upper {
  color: var(--orange);
  text-transform: uppercase;
}
.news .news-body .btn {
  display: block;
  font-size: 12px;
  line-height: 1.6;
  width: 135px;
  height: 53px;
  border: 1px solid var(--white);
  border-radius: 5px;
  margin-top: 50px;
  padding: 16px 30px;
}
.news .news-body .btn.btn:hover {
  background: rgba(136, 116, 116, 0.5);
}

.flex-50 {
  flex: 1 1 575px;
}

.gap-row-65 {
  row-gap: 65px;
}

@media (max-width: 770px) {
  h1 {
    font-size: 30px;
    line-height: 45px;
  }
  h2 {
    font-size: 18px;
    line-height: 27px;
  }
  h3 {
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
  }
  .container {
    width: 100vw;
    padding: 0 20px;
  }
  .head {
    width: 100%;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .head .logo {
    display: flex;
    align-items: center;
    font-weight: bold;
  }
  .head .menu {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 17px 0 18px 0;
    font-weight: bold;
  }
  .head .form-search {
    margin: 0;
    width: calc(100% - 20px);
  }
  .head .form-search .search {
    width: 100%;
  }
  .news {
    width: 100%;
  }
  .news .flex-50 {
    flex: none;
    width: 100%;
  }
  .form .banner-form {
    width: 100%;
  }
  .grid-6 {
    display: flex;
    flex-direction: column;
    row-gap: 26px;
  }
  .grid-6 .pricing-item {
    padding-top: 16px;
  }
  .grid-6 .pricing-item h3 {
    font-weight: bold;
    font-size: 16px;
    line-height: 1.5;
  }
  .grid-6 .pricing-item:hover {
    transform: none;
  }
}

/*# sourceMappingURL=style.css.map */
