@media (max-width: 770px) {
  h1 {
    @include h1(mobile);
  }

  h2 {
    @include h2(mobile);
  }

  h3 {
    @include h3(mobile);
  }

  .container {
    @include container(mobile);
  }

  .head {
    @include head(mobile);
  }

  .form .banner-form {
      width: 100%;
  }
  .grid-6 {
    display: flex;
    flex-direction: column;
    row-gap: 26px;
    .pricing-item {
      @include pricing-item(mobile);
      &:hover {
        transform: none;
      }
    }
  }
}
